<!--右下角图例-->
<div class="map-bottom-legend">
  <span class="point"><i></i>坐标</span>
  <span class="sensors"><i></i>传感器</span>
  <span class="pipe"><i></i>管道</span>
  <!---->
  <span class="node"><i></i>节点</span>
  <span class="endcap"><i></i>堵头封板</span>
  <span class="valve"><i></i>闸阀</span>
  <span class="firehydrant"><i></i>消防栓</span>
  <!---->
  <span class="magnification">缩放比例:
    <span id="scale-line" style="padding:0;position: absolute; bottom: 0px; left: 63px;">200m</span>
    <i></i>
  </span>
</div>
