:host >>> .sidebar-tip-info { width: 260px; margin: 38px auto; text-align: center;  }
:host >>> .sidebar-tip-info .info-img { text-align: center; margin-bottom: 10px; }
:host >>> .sidebar-tip-info .info-txt { text-align: center; margin-bottom: 2px; }
:host >>> .sidebar-tip-info .fun-btn { text-align: center; }

:host >>> .sidebar-tip-info .tag-link-module { margin: 10px 20px; }
:host >>> .sidebar-tip-info .tag-link-module a { display: inline-block; border: 1px solid rgba(30, 91, 214, 1); border-radius: 4px; min-width: 80px; margin-right: 10px; margin-bottom: 10px; height: 32px; line-height: 32px; text-align: center; }
:host >>> .sidebar-tip-info .tag-link-module a:hover,
:host >>> .sidebar-tip-info .tag-link-module a.hover { background: rgba(30, 91, 214, 1); color: #ffffff; }
