<ecp-bread-crumb>
  <span>调度管理</span>
  <span>调度中心</span>
</ecp-bread-crumb>
<div style="overflow-x: auto; height:calc(100% - 50px); padding: 20px 30px">
  <div style="min-width: 1650px;    display: flex;
        flex-wrap:warp;
        justify-content: space-between;height: 100%; ">
    <div style="width:calc(30% - 10px); height: 100%;  overflow-y: auto ">
      <ecp-dispatch-page-left></ecp-dispatch-page-left>
    </div>
    <div style="width:calc(45% - 10px);">
      <ecp-dispatch-page-center></ecp-dispatch-page-center>
    </div>
    <div style="width:calc(25% - 10px);">
      <ecp-dispatch-page-right></ecp-dispatch-page-right>
    </div>
  </div>
</div>

