/*详情模块*/
.side-details { position: absolute; right: 0; top: 0; bottom: 0; width: 360px; overflow-y: auto; background: rgba(255,255,255,1); box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3); opacity: 0.86; }
.side-details .module-title { position: relative; height: 60px; line-height: 60px; font-size: 18px; font-family: MicrosoftYaHei-Bold; font-weight: bold; color: rgba(25, 25, 25, 1); border-bottom: #DADADA 1px solid; padding-left: 20px; }
.side-details .module-title .close { position: absolute; right: 20px; }
.side-details .module-title .close i { font-size: 14px; color: #6E6E6E; }
.side-details .module-item .module-item-title { background: #F0F0F0; height: 42px; line-height: 42px; padding-left: 20px; font-size: 14px; font-family: MicrosoftYaHei-Bold; font-weight: bold; color: rgba(25, 25, 25, 1); }
.side-details .module-item .module-item-content { background: #ffffff; }
/**/

/*表格样式2*/
.side-details .side-details-table-style2 { color: #191919; width: 100%; }
.side-details .side-details-table-style2 th, .side-details .side-details-table-style2 td { height: 42px; line-height: 42px; padding: 0 20px; }
.side-details .side-details-table-style2 th { background: #F0F0F0; }
.side-details .side-details-table-style2 tr:hover td { background: #D2DDF2; }

/*表格样式1*/
.side-details .side-details-table-style1 { color: #191919; width: calc(100% - 40px); margin: 10px auto; font-size: 12px; }
.side-details .side-details-table-style1 th, .side-details .side-details-table-style1 td { height: 32px; line-height: 32px; font-family: MicrosoftYaHei; text-align: left; vertical-align: middle;}
/*.side-details .side-details-table-style1 th img, .side-details .side-details-table-style1 td img{ margin: 0px;}*/
.side-details .side-details-table-style1 th { font-size: 14px; font-weight: 400; color: rgba(110,110,110,1); width: 75px; }
.side-details .side-details-table-style1 td { font-size: 14px; font-weight: 400; color: rgba(25,25,25,1); }

/*TAG标签模块*/
.tag-link-module { margin: 10px 20px; }
.tag-link-module a { display: inline-block; border: 1px solid rgba(30,91,214,1); border-radius: 4px; min-width: 80px; margin-right: 10px; height: 32px; line-height: 32px; text-align: center; }

.seach-moudle-div{
  padding: 10px 20px 5px 20px;
}

.side-details-table-style1 .select{width: 18px; height: 18px; display:block; cursor: pointer;}
.side-details-table-style1 .select-on{
  background: url('../../assets/map/view.png') no-repeat;
}
.side-details-table-style1 .select-off{
  background:rgba(240,240,240,1);
  border:1px solid rgba(218,218,218,1);
  border-radius:2px;
}
/**/

.seach-moudle-div .seach-body {
}
/*弹出层表单样式*/
.seach-moudle-div .seach-body .ant-row {
  min-height: 32px;
  padding: 1px;
  margin-bottom: 5px;
}

/*分隔线*/
.seach-moudle-div .seach-body .map-popup-divider {
  margin: 16px 0px;
  height: 1px;
  background: #DADADA;
}

.seach-moudle-div .seach-body .nzrow-title {
  padding-top: 5px;
}

.seach-moudle-div .seach-body .nzrow-title:after {
  content: ":";
}

/*经纬度信息*/
.seach-moudle-div .seach-body .coordinates-info {
  color: #6E6E6E !important;
  height: auto;
  margin: 5px 0px;
  padding: 0px;
}

/*错误信息样式*/
.seach-moudle-div .seach-body .error-info {
  color: red;
}

/*表单文本框错误状态*/
.seach-moudle-div .seach-body .error-status {
  border-radius: 5px;
  border: #f5222d 1px solid !important;
  box-shadow: 0 0 0 2px #fdd3d5;
}

.seach-moudle-div .seach-body .error-status:focus {
  border: #447ee3 1px solid !important;
}
