<span class="alarm" (mouseover)="isShow=true" (mouseleave)="isShow=false">
  <span class="alarm-num"><span>15</span></span>
  <span class="txt">警报</span>
  <span class="icon"><i class="icon-alarm2"></i></span>
<div class="alarm-content" [@displayState]="isShow == true? 'block' : 'none'">
  <div class="top-title">
    <div class="content">
    <span>警报</span>
    <nav class="right-link"><a>查看全部</a></nav></div>
  </div>
  <div class="alarm-list">
    <table>
   <tr>
          <td><span class="alarm-icon"></span></td>
          <td style="text-align: left;">流量计【00DX34557】200流速超过10m³</td>
          <td><a>处理</a></td>
        </tr>  <tr>
          <td><span class="alarm-icon"></span></td>
          <td style="text-align: left;">流量计【00DX34557】200流速超过10m³</td>
          <td><a>处理</a></td>
        </tr>  <tr>
          <td><span class="alarm-icon"></span></td>
          <td style="text-align: left;">流量计【00DX34557】200流速超过10m³</td>
          <td><a>处理</a></td>
        </tr>  <tr>
          <td><span class="alarm-icon"></span></td>
          <td style="text-align: left;">流量计【00DX34557】200流速超过10m³</td>
          <td><a>处理</a></td>
        </tr>  <tr>
          <td><span class="alarm-icon"></span></td>
          <td style="text-align: left;">流量计【00DX34557】200流速超过10m³</td>
          <td><a>处理</a></td>
        </tr>  <tr>
          <td><span class="alarm-icon"></span></td>
          <td style="text-align: left;">流量计【00DX34557】200流速超过10m³</td>
          <td><a>处理</a></td>
        </tr>  <tr>
          <td><span class="alarm-icon"></span></td>
          <td style="text-align: left;">流量计【00DX34557】200流速超过10m³</td>
          <td><a>处理</a></td>
        </tr>
    </table>
  </div>
</div>
</span>
