/*警告弹窗*/
.alarm { position: relative; display: inline-block; float: right; font-family: MicrosoftYaHei; height: 50px; width: 90px; line-height: 50px; text-align: right; padding-left: 15px; padding-right: 32px; background: url("../../../assets/change-sys/alarm-r-bg.png") right center no-repeat; }
.alarm .icon { position: absolute; right: 73px; top: 1px; cursor: pointer; }
.alarm .icon i { font-size: 18px; color: #ffffff !important; }
.alarm .alarm-num { position: absolute; right: 60px; top: 3px; z-index: 10000; border-radius: 50%; height: 20px; width: 20px; display: inline-block; background: rgba(232, 30, 30, 1); vertical-align: top; border: 1px solid rgba(255, 255, 255, 1); }
.alarm .alarm-num span { display: block; color: #FFFFFF; height: 20px; line-height: 20px; text-align: center; font-size: 12px; }
.alarm .txt { position: absolute; right: 35px; color: #FFFFFF; }
.alarm-content { position: absolute; right: 32px; top: 50px; width: 420px; z-index: 100000; }

/*自定义的面包屑地址栏*/
.alarm-content .top-title { background: url("../../../assets/base/alarm-toptitle-bg.png") -5px 0 no-repeat; height: 62px; line-height: 50px; padding: 12px 0 0 0; text-align: left; font-size: 18px; font-family: MicrosoftYaHei-Bold; font-weight: bold; color: rgba(25,25,25,1); overflow: hidden; }
.alarm-content .top-title .content { border-right: #d7d7d7 1px solid; border-left: #d7d7d7 1px solid; width: calc(100% - 2px); margin: 0 auto; padding: 0 14px; background: #FFFFFF; }
.alarm-content .top-title .content .right-link { float: right; font-size: 14px; font-weight: 400; color: #191919; }
.alarm-content .top-title .content .right-link a { color: #191919; }/**/
/*表格样式*/
.alarm-list { height: 250px; width: calc(100% - 4px); margin: 0 auto; overflow-y: auto; overflow-x: hidden; box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4); background: #FFFFFF; }
.alarm-list table { width: calc(100%); margin: 0px auto; font-size: 12px; }
.alarm-list table tr th, .alarm-list table tr td { font-size: 14px; font-weight: 400; height: 38px; line-height: 38px; text-align: left; vertical-align: middle; color: #191919; }
.alarm-list table tr th { }
.alarm-list table tr td:first-child { padding-left: 15px; text-align: left; }
.alarm-list table tr td:last-child { padding-right: 15px; text-align: right; }
.alarm-list table td a { color: #1E5BD6; font-weight: bold; }
.alarm-list table td span.alarm-icon { background: url("../../../assets/base/alarm.png") no-repeat!important; width: 16px; height: 16px; display: block; }
/**/
.alarm-list table tr:hover td { background: #D2DDF2; cursor: pointer; }
