
/*自定义的面包屑地址栏*/
.custom-breadcrumb{height:50px;
  background:rgba(255,255,255,1);
  border-bottom: 1px solid rgba(218, 218, 218, 1);
  line-height: 50px;
  padding: 0 30px;
  /**/
  font-size:14px;
  font-family:MicrosoftYaHei;
  font-weight:400;
  color:rgba(153,153,153,1);

}
.custom-breadcrumb span{}
.custom-breadcrumb span:not(:last-child):after{ content: " > ";}
.custom-breadcrumb .right-link{ float: right;font-size:14px;font-family:MicrosoftYaHei;font-weight:400;color:rgba(110,110,110,1); }
.custom-breadcrumb .right-link a{ color:rgba(110,110,110,1); margin-left: 20px;}
