<div style="height: 100%;background: #FAFAFA">
  <app-bread-crumb></app-bread-crumb>

  <form nz-form>
    <div nz-row nzType="flex" class="seach-form">
      <div nz-col nzXs="24" nzMd="12" nzLg="6">
        <div class="item">
          <div class="title">传感器编号</div>
          <div class="content"><input nz-input type="text" name="sensorCode1"></div>
        </div>
      </div>
      <div nz-col nzXs="24" nzMd="12" nzLg="6">
        <div class="item">
          <div class="title">传感器类型</div>
          <div class="content"><input nz-input type="text" name="sensorCode2"></div>
        </div>
      </div>
      <div nz-col nzXs="24" nzMd="12" nzLg="6">
        <div class="item">
          <div class="title">开始时间</div>
          <div class="content"><input nz-input type="text" name="sensorCode3"></div>
        </div>
      </div>
      <div nz-col nzXs="24" nzMd="12" nzLg="6">
        <div class="item">
          <div class="title">结束时间</div>
          <div class="content"><input nz-input type="text" name="sensorCode4"></div>
        </div>
      </div>
      <div nz-col nzXs="24" nzMd="12" nzLg="6">
        <div class="item">
          <div class="title"></div>
          <div class="content">
            <button nz-button style="margin-right: 8px;">重置</button>
            <button nz-button [nzType]="'primary'" style="margin-right: 8px;">查询</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="ecp-page-body-moudle">
    <nz-table #basicTable [nzData]="dataSet" [nzSize]="'middle'">
      <thead>
      <tr>
        <th>区域名称</th>
        <th>统计时间</th>
        <th>用水量</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td width="33.33%">{{data.name}}</td>
        <td width="33.33%">{{data.age}}</td>
        <td width="33.33%">{{data.address}}</td>
      </tr>
      </tbody>
    </nz-table>
  </div>


  <div class="ecp-page-body-moudle">
    <div class="empty-data-img">
      <div class="info-img"><img src="../../../assets/bill-empty-data.png"></div>
      <div class="info-txt">请生成账单再进行操作</div>
      <div class="fun-btn">
        <button nz-button nzType="primary">生成账单</button>
      </div>
    </div>
  </div>
  <div class="ecp-page-footer-moudle">
    <button nz-button nzType="default">重置</button>
    <button nz-button nzType="primary">筛查</button>
  </div>

</div>
