
/*搜索框*/
.seach-form {
  background: #ffffff;
  padding: 16px 0px 10px 0px;
  border-bottom: #d4d4d4 1px solid;
}
.seach-form .item {
  min-height: 32px;
  padding: 0 3%;
  margin-bottom: 10px;
}
.seach-form .item > .title {
  width: 45%;
  padding: 0 10px;
  text-align: right;
  float: left;
  padding-top: 5px;
}
.seach-form .item > .content {
  width: 55%;
  text-align: left;
  float: left;
}



/*****************************************/
.ecp-page-body-moudle{
  margin: 20px 30px;background: blue;
}

.ecp-page-body-moudle .empty-data-img{
  display: block;
  background: red;
  width: 260px;
  margin: 50px auto;
  text-align: center;
}
.ecp-page-body-moudle .empty-data-img .info-img{
  text-align: center;
  margin-bottom: 10px;
}
.ecp-page-body-moudle .empty-data-img .info-txt{
 text-align: center;
  margin-bottom: 20px;
}
.ecp-page-body-moudle .empty-data-img .fun-btn{
  text-align: center;
}


.ecp-page-footer-moudle{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 80px; line-height: 80px;
  text-align: right;
  padding: 0 20px;
  box-shadow:0px 3px 8px 0px rgba(0, 0, 0, 0.3);
}
.ecp-page-footer-moudle>button{
  margin-right: 10px;
}
