/*20181025*/

/*新增维修工单*********************************************/
.order-maintenance-add-step { height: 120px; background: rgba(255, 255, 255, 1); border-bottom: 1px solid rgba(218, 218, 218, 1); padding: 1px; }
.order-maintenance-add-step .step-div { width: 550px; margin: 42px auto; }
.order-maintenance-add-form { margin: 20px 30px; background: rgba(255, 255, 255, 1); border: 1px solid rgba(218, 218, 218, 1); height: auto; padding: 50px 0; }
.order-maintenance-add-form .form-content { width: 507px; margin: 0 auto; }

/*表单行**************************************************/
.order-maintenance-add-form .form-content .form-row { display: block; margin-bottom: 20px; min-height: 32px; height: auto; overflow: auto; }
.order-maintenance-add-form .form-content .form-row .form-title { display: inline-block; padding-top: 5px; width: 80px; float: left; }
.order-maintenance-add-form .form-content .form-row .form-title:after { content: ":"; }
.order-maintenance-add-form .form-content .form-row .form-control { display: inline-block; width: 425px; float: right; overflow: auto; }
.order-maintenance-add-form .form-content .form-row .form-control .tip-info { font-size: 12px; font-family: MicrosoftYaHei; font-weight: 400; color: rgba(110, 110, 110, 1); height: 40px; line-height: 40px; margin-bottom: 15px; }

/*带按钮的行*/
.order-maintenance-add-form .form-content .form-row-btn { display: block; min-height: 32px; height: auto; text-align: right; margin-bottom: 0; }
.order-maintenance-add-form .form-content .form-row-btn button { margin-left: 10px !important; }

/*图片上传*/
.order-maintenance-add-form .form-content .form-row .form-control .upload-img-div { }
.order-maintenance-add-form .form-content .form-row .form-control .upload-img-div span { position: relative; display: inline-block; width: 92px; height: 92px; float: left;  margin-right: 10px; margin-bottom: 10px; background:#F0F0F0 url("../../assets/order/upload-default.png") center center no-repeat; }
.order-maintenance-add-form .form-content .form-row .form-control .upload-img-div span:last-child { margin-right: 0px; }
.order-maintenance-add-form .form-content .form-row .form-control .upload-img-div span a.close { position: absolute; right: 0; top: 0; width: 22px; height: 22px;  opacity: 0.7; color: #ffffff; text-indent: -99999px; background:#E81E1E url("../../assets/order/del-icon.png") center center no-repeat;}

/*完成提示*/
.order-maintenance-add-form .form-complete-content { width: 230px; height: 170px; margin: 70px auto; }
.order-maintenance-add-form .form-complete-content .tip-div { width: 88px; height: 110px; margin: 0 auto; margin-bottom: 40px; }
.order-maintenance-add-form .form-complete-content .tip-div .icon { width: 68px; height: 72px;  margin: 0 auto 20px auto; background:url("../../assets/order/complete.png") no-repeat; }
.order-maintenance-add-form .form-complete-content .tip-div .txt { font-size: 14px; font-family: MicrosoftYaHei; font-weight: 400; color: rgba(25, 25, 25, 1); text-align: center; }
.order-maintenance-add-form .form-complete-content .other-link { text-align: center; }
.order-maintenance-add-form .form-complete-content .other-link a { padding: 0 19px; }
.order-maintenance-add-form .form-complete-content .other-link a:first-child { border-right: #999999 1px solid; }

/*重置表单第二步的表单宽度**********************************/
.order-maintenance-add-form .step2 { width: 585px!important; }
.order-maintenance-add-form .step2 .form-title { width: 80px!important; }
.order-maintenance-add-form .step2 .form-control { width: 502px!important; }
/*重置表单第二步的表单宽度 end********************************/
