<div id="map-popup" [ngClass]="{'map-popup-open-hidden': !isOpen}">
  <div class="map-popup-content">
    <div class="nav-tags">
      <a [ngClass]="{'hover':selectId==0}" (click)="show(0)">坐<br/>标{{selectId}}</a>
      <a [ngClass]="{'hover':selectId==1}" (click)="show(1)">传<br/>感<br/>器</a>
      <a [ngClass]="{'hover':selectId==2}" (click)="show(2)">节<br/>点</a>
      <a [ngClass]="{'hover':selectId==3}" (click)="show(3)">封<br/>头<br/>堵<br/>板</a>
      <a [ngClass]="{'hover':selectId==4}" (click)="show(4)">闸<br/>阀</a>
      <a [ngClass]="{'hover':selectId==5}" (click)="show(5)">消<br/>防<br/>栓</a>
    </div>
    <div class="map-popup-main">
      <div id="map-popup-header" class="pipe-bg">
        <a href="javascript:void(0);" (click)="close()" class="close">X</a>
        <div id="map-popup-header-title">
          <span>管道新增1</span>
        </div>
      </div>
      <div id="map-popup-body" [ngStyle]="{'display':selectId==0 ? 'block':'none'}">
      1
      </div>
      <div id="map-popup-footer">
        <button nz-button nzType="default" style="margin-right: 8px;"><span>取消</span></button>
        <button nz-button nzType="primary" style="margin-right: 8px;"><span>确认</span>
        </button>
      </div>
    </div>
    <div class="map-popup-main" [ngStyle]="{'display':selectId==1 ? 'block':'none'}">
      <div id="map-popup-header" class="pipe-bg">
        <a href="javascript:void(0);" (click)="close()" class="close">X</a>
        <div id="map-popup-header-title">
          <span>管道新增2</span>
        </div>
      </div>
    </div>
    <div class="map-popup-main" [ngStyle]="{'display':selectId==2 ? 'block':'none'}">
      <div id="map-popup-header" class="pipe-bg">
        <a href="javascript:void(0);" (click)="close()" class="close">X</a>
        <div id="map-popup-header-title">
          <span>管道新增3</span>
        </div>
      </div>
    </div>
    <div class="map-popup-main" [ngStyle]="{'display':selectId==3 ? 'block':'none'}">
      <div id="map-popup-header" class="pipe-bg">
        <a href="javascript:void(0);" (click)="close()" class="close">X</a>
        <div id="map-popup-header-title">
          <span>管道新增4</span>
        </div>
      </div>
    </div>
    <div class="map-popup-main" [ngStyle]="{'display':selectId==4 ? 'block':'none'}">
      <div id="map-popup-header" class="pipe-bg">
        <a href="javascript:void(0);" (click)="close()" class="close">X</a>
        <div id="map-popup-header-title">
          <span>管道新增5</span>
        </div>
      </div>
    </div>

    <div class="map-popup-main" [ngStyle]="{'display':selectId==5 ? 'block':'none'}">
      <div id="map-popup-header" class="pipe-bg">
        <a href="javascript:void(0);" (click)="close()" class="close">X</a>
        <div id="map-popup-header-title">
          <span>管道新增6</span>
        </div>
      </div>
    </div>
  </div>
</div>
