<div class="dispatch-right-content-module">
  <div class="module-title">工单详情</div>
  <div class="module-body">
    <div class="item-content" id="word-order-details">
      <div class="title">华发新城3栋水表无法上报数据，请协调人员</div>
      <table class="table-details-style">
        <tbody>
        <tr>
          <th>处理状态：</th>
          <td colspan="5"><span class="color-blue">处理中</span></td>
        </tr>
        <tr>
          <th>工单编号：</th>
          <td>tt1547 拷贝 3</td>
          <th>所属区域：</th>
          <td>78.4587878</td>
          <th>&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>工单来源：</th>
          <td>珠海市南屏科技园</td>
          <th>工单名称：</th>
          <td>东信和平宿舍</td>
          <th>&nbsp;</th>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>工单描述：</th>
          <td>&nbsp;</td>
          <th>&nbsp;</th>
          <td>&nbsp;</td>
          <th>&nbsp;</th>
          <td>&nbsp;&nbsp;</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div class="item-content" id="word-order-details-dispose-info">
      <div class="title">处理信息</div>
      <div class="list-body">
        <div class="list-item">
          <div class="list-time">2018-11-20 10:12</div>
          <div class="table-content">
            <table class="dispose-info-table-style">
              <tbody>
              <tr>
                <th>处理人/组：</th>
                <td>王小明编辑时间：2018-09-31 10:44:23</td>
              </tr>
              <tr>
                <th>上传位置：</th>
                <td>珠海市南屏科技园</td>
              </tr>
              <tr>
                <th colspan="2" align="left"><div class="img-list"><span><img src="assets/order/demo.png"/></span><span><img
                  src="assets/order/demo.png"/></span><span><img
                  src="assets/order/demo.png"/></span><span><img
                  src="assets/order/demo.png"/></span><span><img src="assets/order/demo.png"/></span></div></th>
              </tr>
              <tr>
                <th>处理建议：</th>
                <td>处理建议处理建议处理建议</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>
