
.top-header {
  background: #303844;
  height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  right: 0;
}

.top-header .logo {
  height: 32px;
  margin-left: 23px;
  margin-top: 8px;
  display: inline-block;
  float: left;
  padding-right: 20px;
  margin-right: 20px;
  border-right: #fff 3px solid;
  cursor: pointer;
}

.top-header .logo img {
  vertical-align: top;
}

.top-header .name {
  display: inline-block;
  float: left;
  color: #ffffff;
  font-size: 24px;
  margin-top: 5px;
  cursor: pointer;
}
