<app-bread-crumb></app-bread-crumb>
<div class="details-top-modle">
  <span class="title">维修工单-tt1547</span>
  <span class="btn"><button nz-button [nzType]="'primary'"
                            routerLink="/index/orderMaintenanceAdd"><span>处理完成</span></button></span>
</div>

<div class="details-content-item-modle">
  <div class="title">基本信息<a class="btn-add"><i class="icon-edit"></i>修改</a> </div>
  <div class="item-content">
    <table class="table-details-style">
      <tbody>
      <tr>
        <th>处理状态：</th>
        <td colspan="5"><span class="color-blue">处理中</span></td>
      </tr>
      <tr>
        <th>工单编号：</th>
        <td>tt1547 拷贝 3</td>
        <th>所属区域：</th>
        <td>78.4587878</td>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>工单来源：</th>
        <td>珠海市南屏科技园</td>
        <th>工单名称：</th>
        <td>东信和平宿舍</td>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>工单描述：</th>
        <td>&nbsp;</td>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
        <th>&nbsp;</th>
        <td>&nbsp;&nbsp;</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="details-content-item-modle">
  <div class="title">处理信息<a class="btn-add"><i class="icon-add" style="font-size: 18px;"></i>添加处理</a></div>
  <div class="item-content">
    <table class="table-details-style2">
      <tbody>
      <tr>
        <th>编辑人：</th>
        <td>王小明</td>
        <th>编辑时间：</th>
        <td>2018-09-31 10:44:23</td>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>图片信息：</th>
        <td colspan="5">
          <div class="img-list"><span><img src="../assets/order/demo.png"/> </span><span><img
            src="../assets/order/demo.png"/> </span><span><img
            src="../assets/order/demo.png"/> </span><span><img
            src="../assets/order/demo.png"/> </span><span><img src="../assets/order/demo.png"/> </span>
          </div>
        </td>
      </tr>
      <tr>
        <th>处理描述：</th>
        <td colspan="5">珠海市南屏科技园</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="item-content">
    <table class="table-details-style2">
      <tbody>
      <tr>
        <th>编辑人：</th>
        <td>王小明</td>
        <th>编辑时间：</th>
        <td>2018-09-31 10:44:23</td>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>图片信息：</th>
        <td colspan="5">
          <div class="img-list"><span><img src="../assets/order/demo.png"/> </span><span><img
            src="../assets/order/demo.png"/> </span><span><img
            src="../assets/order/demo.png"/> </span><span><img
            src="../assets/order/demo.png"/> </span><span><img src="../assets/order/demo.png"/> </span>
          </div>
        </td>
      </tr>
      <tr>
        <th>处理描述：</th>
        <td colspan="5">珠海市南屏科技园</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="item-content">
    <table class="table-details-style2">
      <tbody>
      <tr>
        <th>编辑人：</th>
        <td>王小明</td>
        <th>编辑时间：</th>
        <td>2018-09-31 10:44:23</td>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <th>图片信息：</th>
        <td colspan="5">
          <div class="img-list"><span><img src="../assets/order/demo.png"/> </span><span><img
            src="../assets/order/demo.png"/> </span><span><img
            src="../assets/order/demo.png"/> </span><span><img
            src="../assets/order/demo.png"/> </span><span><img src="../assets/order/demo.png"/> </span>
          </div>
        </td>
      </tr>
      <tr>
        <th>处理描述：</th>
        <td colspan="5">珠海市南屏科技园</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

