/*
   顶部导航-系统切换'ecp-drop-down-menu' v1.0
*/

/*系统切换菜单*/
.change-sys{ z-index: 1000; margin-right: 15px; height: 32px;
  line-height: 32px;
  display: block;
  float: right;
 position: relative;}
.change-sys .title{ display: inline-block; float: right; color: #ffffff; height:50px; line-height: 50px; text-align: right; padding-left: 15px; padding-right: 32px; background:url("../../../../assets/change-sys/change-r-bg.png") right center no-repeat; cursor: pointer;  }
.change-sys .bg{ background-color:#22272e;     }
.change-sys ul{position: absolute; right: 0px; top: 51px; background: #ffffff; width: 150px; padding: 0px;-moz-box-shadow:0px 0px 6px rgba(0, 0, 0, 0.4); -webkit-box-shadow:0px 0px 6px rgba(0, 0, 0, 0.4); box-shadow:0px 0px 6px rgba(0, 0, 0, 0.4);}
.change-sys ul li{ list-style: none; color:#22272e;width: 150px; height: 50px; line-height: 50px; text-align: left;  display: block; padding-left: 45px; cursor: pointer; }
.change-sys ul li.index{ background:url("../../../../assets/change-sys/index.png") 10px center no-repeat; border-bottom: #bacbe1 1px solid; }
.change-sys ul li.menu-1{ background:url("../../../../assets/change-sys/menu_1.png") 10px center no-repeat; }/*营收系统*/
.change-sys ul li.menu-2{ background:url("../../../../assets/change-sys/menu_2.png") 10px center no-repeat; }/*工单系统*/
.change-sys ul li.menu-3{ background:url("../../../../assets/change-sys/menu_3.png") 10px center no-repeat; }/*管漏管理*/
.change-sys ul li.menu-4{ background:url("../../../../assets/change-sys/menu_4.png") 10px center no-repeat; }/*自来水生产*/
.change-sys ul li.menu-5{ background:url("../../../../assets/change-sys/menu_3.png") 10px center no-repeat; }/*污水处理*/
.change-sys ul li.menu-6{ background:url("../../../../assets/change-sys/menu_4.png") 10px center no-repeat; }/*权限管理*/
.change-sys ul li.menu-7{ background:url("../../../../assets/change-sys/menu_6.png") 10px center no-repeat; }/*公共配置*/
.change-sys ul li.menu-8{ background:url("../../../../assets/change-sys/menu_7.png") 10px center no-repeat; }/*消息中心*/
.change-sys ul li.menu-9{ background:url("../../../../assets/change-sys/menu_8.png") 10px center no-repeat; }/*帐号管理*/
.change-sys ul li.menu-10{ background:url("../../../../assets/change-sys/menu_9.png") 10px center no-repeat; }/*帐号管理*/
.change-sys ul li.menu-11{ background:url("../../../../assets/change-sys/menu_10.png") 10px center no-repeat; }/*帐号管理*/

.change-sys ul li:hover{  background-color: #e8eefb;}
