<div class="login-form-moudle">
  <div class="login-title">用户登录</div>
  <div class="login-content">
    <div class="item">
      <div class="error-txt">登录名或登录密码不正确</div>
    </div>
    <div class="item">
      <select placeholder="请选择水司" class="select">
        <option>公司一</option>
        <option>公司二</option>
        <option>公司三</option>
      </select>
    </div>
    <div class="item">
      <input value="" placeholder="请输入帐号" class="input account">
    </div>
    <div class="item">
      <input value="" placeholder="请输入密码" class="input password">
    </div>
    <div class="item">
      <input type="button" value="登录" class="login-btn">
    </div>
  </div>
</div>
