<div class="upload-form">
  <div class="form-content"
       style=" clear:both;text-align: center;  display:block; width: 480px; height: 36px; margin: 60px auto; ">
    <div><span style="background: #DADADA; border:#DADADA 1px solid;  display: inline-block; width: 380px; height: 36px; line-height: 36px;border-radius:4px; color: #FFFFFF; float: left; overflow: hidden; "><span
      style=" color: #191919; text-align: center;width:90px; float: right; height: 34px; line-height:34px;  background: #FFFFFF;">选择文件</span></span>
      <span style="background: #1E5BD6; display: inline-block; width: 90px; height: 36px; line-height: 36px;border-radius:4px; color: #FFFFFF; float: right;  ">上传文件</span>
    </div>
    <div class="error-info">*文件格式仅限于.xlsx</div>
  </div>
  <div class="tips-info">
    1 点击链接下载模板<a href="assets/导入模版.xlsx">下载模板</a><br>
    2 导入属于追加导入，已经存在的数据不修改。<br>
    3 导入文件只允许有一个sheet页<br>
    4 设备类型: 管道->pipe,传感器->sensor,阀门->valve,堵头封板->plug,节点->node,消防栓->hydrant<br>
    5 区域和产品如果不存在，不能成功导入。<br>
  </div>
</div>
