/*
   顶部导航'ecp-top-nav' v1.0
*/
.top-header {
  background: #303844;
  height: 50px;
  min-width: 1000px;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  right: 0;
}

.top-header .logo {
  height: 32px;
  margin-left: 23px;
  margin-top: 8px;
  display: inline-block;
  float: left;
  padding-right: 20px;
  margin-right: 20px;
  border-right: #fff 3px solid;
  cursor: pointer;
}

.top-header .logo img {
  vertical-align: top;
  height: 32px;
}

.top-header .name {
  display: inline-block;
  float: left;
  color: #ffffff;
  font-size: 24px;
  margin-top: 5px;
  cursor: pointer;
}
.logout{
  background: url("../../../../assets/logout.png") no-repeat; width: 18px; height: 20px; text-indent: -999999px; display: inline-block; margin-top: 16px; margin-right: 30px; float: right!important;
}
