<app-nav-bar></app-nav-bar>
<app-top-nav></app-top-nav>
<!--

<app-bread-crumb></app-bread-crumb>
<app-steps-info></app-steps-info>
<app-map-switch></app-map-switch>
<app-tool-bar></app-tool-bar>
<br/><br/><br/><br/><br/>
<button nz-button nzType="primary" style="background: green">Primary</button>
<button nz-button nzType="default" style="background: green">Default</button>
<button nz-button nzType="dashed">Dashed</button>
<button nz-button nzType="danger">Danger</button>
<button nz-button nzType="primary">Primary</button>
<button nz-button nzType="primary" disabled>Primary(disabled)</button>
<input nz-input placeholder="Basic usage">
<input nz-input placeholder="Basic usage" disabled>
<nz-button-group>
  <button nz-button>Cancel</button>
  <button nz-button nzType="primary">OK</button>
</nz-button-group>-->

<div style="position:absolute; top: 80px; left: 250px; right: 10px; bottom: 50px; background: #FFFFFF; border: #666666 1px solid; overflow:scroll"><router-outlet></router-outlet></div>
