@import "../../../assets/font-icon/style.css";
/*左边菜单样式*/
.main-menu:hover{ width: 220px; overflow: hidden; opacity: 1; }
.main-menu.hover{ width: 220px; overflow: hidden; opacity: 1; }
.main-menu.on{ width: 220px; overflow: hidden; opacity: 1; }
.main-menu.off{ width: 60px; overflow: hidden; opacity: 1; }
.main-menu { background: #22272e; color: #ffffff; position: absolute; top: 50px; bottom: 0;  left: 0; width: 60px; overflow: hidden; -webkit-transition: width .2s linear; transition: width .2s linear; -webkit-transform: translateZ(0) scale(1, 1); /*box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07); */opacity: 1; z-index: 1000; }
.main-menu>ul { margin: 0px 0; }
.main-menu li { position: relative; display: block; width: 220px; }

nav { -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
nav ul, nav li { outline: 0; margin: 0; padding: 0; }
/*
@font-face { font-family: 'Titillium Web'; font-style: normal; font-weight: 300; src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff'); }
*/
.main-menu .menu-body{height: 100%;/* border-right: 1px #666666 solid;*/}
.main-menu .menu-body li{ width: 220px; min-height: 42px; line-height: 42px; clear: both; text-align: center}
.main-menu .menu-body li.hover{  }
.main-menu .menu-body li .menu-title{ height:42px; line-height: 42px; text-align: left;font-weight: bold;cursor: pointer; color: #999999; font-weight: bold; }
.main-menu .menu-body li .menu-title i{width: 60px; float: left; text-align: center; margin-right: 0px; font-size: 18px; margin-top: 12px; font-weight: normal;}
.main-menu .menu-body li .menu-title i.right{ margin-top: 16px; width: 13px; height: 13px; float: right; margin-right: 15px; font-size: 12px;font-weight: normal; }
.main-menu .menu-body li .menu-title i.on{ margin-top: 16px; width: 13px; height: 13px; float: right; margin-right: 15px; font-size: 12px;font-weight: normal;/* background: url("../../../assets/jiantou.png") center center no-repeat;*/
}
.main-menu .menu-body li .menu-title.select{   background: #1979ff; color: #ffffff;}
.main-menu .menu-body li .menu-title.hover{   background: #1e5bd6; color: #ffffff;}
/**/
.menu-sub{}
.menu-sub {max-height: 462px; overflow-y: hidden; overflow-x: hidden; background: #181b1f;}
.menu-sub li{ height:42px; line-height: 42px;  color: #999999;  cursor: pointer; text-align: left!important;padding-left: 60px;  }
.menu-sub li:hover{   background: #111214; color: #ffffff}
.menu-sub li.hover{  background:#111214 url("../../../assets/dian.png") 25px center no-repeat; color: #ffffff;}
