/* flexbox */
.dispatch-right-content-module { height: 100%; display: flex; flex-direction: column;border: #DADADA 1px solid; }
/*top*/
.dispatch-right-content-module .module-title { flex-grow: 0; flex-shrink: 0; position: relative; height: 50px; width: 100%; line-height: 50px; font-size: 16px; font-family: MicrosoftYaHei-Bold; font-weight:400; color: rgba(25, 25, 25, 1); border-bottom: #DADADA 1px solid; padding-left: 20px; }
.dispatch-right-content-module .module-title .close { position: absolute; right: 20px; }
.dispatch-right-content-module .module-title .close i { font-size: 14px; color: #6E6E6E; }
/*center*/
.dispatch-right-content-module .module-body {   overflow-y: auto; flex-grow: 1; }
/*bottom*/
.dispatch-right-content-module .module-footer { flex-grow: 0; flex-shrink: 0;   width: 100%; height: 60px; line-height: 60px; border-top: #DADADA 1px solid; text-align: right; padding: 0 20px; }
.dispatch-right-content-module .module-footer > button { margin-right: 10px; }


/**/
/*搜索模块*/
.seach-moudle-div { padding: 10px 20px 5px 20px; }
.seach-moudle-div .seach-body { }
/*弹出层表单样式*/
.seach-moudle-div .seach-body .ant-row { min-height: 32px; padding: 1px; margin-bottom: 5px; }
/*分隔线*/
.seach-moudle-div .seach-body .map-popup-divider { margin: 16px 0px; height: 1px; background: #DADADA; }
.seach-moudle-div .seach-body .nzrow-title { padding-top: 5px; }
.seach-moudle-div .seach-body .nzrow-title:after { content: ":"; }
/*经纬度信息*/
.seach-moudle-div .seach-body .coordinates-info { color: #6E6E6E !important; height: auto; margin: 5px 0px; padding: 0px; }
/*错误信息样式*/
.seach-moudle-div .seach-body .error-info { color: red; }
/*表单文本框错误状态*/
.seach-moudle-div .seach-body .error-status { border-radius: 5px; border: #f5222d 1px solid !important; box-shadow: 0 0 0 2px #fdd3d5; }
.seach-moudle-div .seach-body .error-status:focus { border: #447ee3 1px solid !important; }
