<div class="login-main-body">
  <div class="login-middle-body">
    <div class="page-txt">
      <div class="title">
        智慧水务管理系统
      </div>
      <div class="sub-title">
        主要包括用户信息管理，设备管理，抄表管理，缴费管理,管漏管理等
      </div>
    </div>
    <div class="page-img"><div class="content">
      <div class="sub-img1 zoomIn"></div>
      <div class="sub-img2"></div>
      <div class="sub-img3"></div>
      <div class="sub-img4"></div>
      <div class="sub-img5"></div>
      <div class="sub-img6"></div>
      <div class="sub-img7"></div>
    </div> </div>
    <app-ecp-loginform></app-ecp-loginform>
  </div>
</div>
