.login-main-body{height: 100%; min-width: 1314px; min-height: 760px; overflow: hidden; background: url('../../../assets/login/bg.jpg') no-repeat; background-size: 100% 100%;}
.login-middle-body{ width: 1314px; margin: 0 auto; position: relative;}
.page-txt { position: absolute; top: 115px; left: 80px; }
.page-txt .title { font-size: 36px; font-weight: bold; color: rgba(255, 255, 255, 1); margin-bottom: 10px; }
.page-txt .sub-title { font-size: 24px; font-family: MicrosoftYaHei; color: rgba(255, 255, 255, 1); }
.page-img { position: absolute; top: 300px; /*  background: url("../../../assets/login/pc2.png") no-repeat;*/
  width: 705px; height: 780px; }
.page-img .content { position: relative; width: 705px; height: 780px; background: url("../../../assets/login/pc/pc1.png") 18px 27px no-repeat; }
.page-img .content .sub-img1 { position: absolute; top: 177px; left: 0px; width: 129px; height: 90px; background: url("../../../assets/login/pc/5.png") no-repeat; }
.page-img .content .sub-img2 { position: absolute; top: 0px; left: 120px; width: 128px; height: 99px; background: url("../../../assets/login/pc/6.png") no-repeat; }
.page-img .content .sub-img3 { position: absolute; top: 17px; left: 241px; width: 126px; height: 90px; background: url("../../../assets/login/pc/7.png") no-repeat; }
.page-img .content .sub-img4 { position: absolute; top: 33px; left: 358px; width: 120px; height: 82px; background: url("../../../assets/login/pc/4.png") no-repeat; }
.page-img .content .sub-img5 { position: absolute; top: 114px; left: 144px; width: 379px; height: 169px; background: url("../../../assets/login/pc/1.png") no-repeat; }
.page-img .content .sub-img6 { position: absolute; top: 133px; left: 498px; width: 131px; height: 88px; background: url("../../../assets/login/pc/3.png") no-repeat; }
.page-img .content .sub-img7 { position: absolute; top: 113px; left: 630px; width: 74px; height: 44px; background: url("../../../assets/login/pc/2.png") no-repeat; }
/* 动画 ***************************************************/
.page-txt .title { -webkit-animation: fadeInUp 0.8s .2s ease both; -moz-animation: fadeInUp 0.8s .2s ease both; }
.page-txt .sub-title { -webkit-animation: fadeInUp 0.8s .6s ease both; -moz-animation: fadeInUp 0.8s .6s ease both; }
.page-img { -webkit-animation: fadeInUp 1s .2s ease both; -moz-animation: fadeInUp 1s .2s ease both; animation-delay: 1.5s; -webkit-animation-delay:1.5s; /* Safari 和 Chrome */}
.page-img .content .sub-img1,
.page-img .content .sub-img2,
.page-img .content .sub-img3,
.page-img .content .sub-img4,
.page-img .content .sub-img5,
.page-img .content .sub-img6,
.page-img .content .sub-img7 { animation: fadeInUptest 3s infinite; -moz-animation: fadeInUptest 3s infinite; /* Firefox */ -webkit-animation: fadeInUptest 3s infinite; /* Safari 和 Chrome */ -o-animation: fadeInUptest 3s infinite; /* Opera */ }
.page-img .content .sub-img1,
.page-img .content .sub-img3,
.page-img .content .sub-img5,
.page-img .content .sub-img7 { animation-delay: 1.5s; -webkit-animation-delay: 1.5s; /* Safari 和 Chrome */ }
.page-img .content .sub-img2,
.page-img .content .sub-img4,
.page-img .content .sub-img6 { animation-delay: 3s; -webkit-animation-delay: 3s; /* Safari 和 Chrome */ }
@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0)
  }
}
@-moz-keyframes fadeInUp {
  0% {
    opacity: 0;
    -moz-transform: translateY(20px)
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0)
  }
}

/*呼吸动画*/
@-webkit-keyframes fadeInUptest {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0px)
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(8px)
  }
  51% {
    opacity: 1;
    -webkit-transform: translateY(8px)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px)
  }
}
@-moz-keyframes fadeInUptest {
  0% {
    opacity: 1;
    -moz-transform: translateY(0)
  }
  50% {
    opacity: 1;
    -moz-transform: translateY(8px)
  }
  51% {
    opacity: 1;
    -moz-transform: translateY(8px)
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0)
  }
}

/* 动画end ***************************************************************/

@media screen and (max-width: 1024px) {
  .login-main-body{ min-width: 100%; }
  .login-middle-body{ width: 1007px!important; }
  .page-txt { position: absolute; top: 115px; left: 30px; }
  .page-txt .title { font-size: 30px; font-weight: bold; color: rgba(255, 255, 255, 1); margin-bottom: 5px; }
  .page-txt .sub-title { font-size: 16px; font-family: MicrosoftYaHei; color: rgba(255, 255, 255, 1); }
  .page-img { position: absolute; top: 220px; left: -40px;}
}
@media screen and (max-width: 1280px) {
  .login-main-body{ min-width: 100%; }
  .login-middle-body{ width: 1250px; }
  .page-txt { position: absolute; top: 115px; left: 30px; }
}
