/*通用表格列表样式*/
:host ::ng-deep .ant-table-body{border-collapse: collapse;}
:host ::ng-deep .ant-table-body .ant-table-thead tr th{ padding: 11px 10px!important;  border: #CCCCCC 1px solid;  background: #ffffff; font-weight: bold; color: #6E6E6E;   }
:host ::ng-deep .ant-table-body .ant-table-thead tr:first-child th{  border-top: 0px;  }
:host ::ng-deep .ant-table-body .ant-table-thead tr th:first-child{ border-left: 0;  }
:host ::ng-deep .ant-table-body .ant-table-thead tr th:last-child{ border-right: 0;  }
:host ::ng-deep .ant-table-body{ border: #D7D7D7 1px solid; border-bottom-width: 0; }
:host ::ng-deep .ant-table-body .ant-table-tbody{ }
:host ::ng-deep .ant-table-body .ant-table-tbody tr td{  padding: 10px 10px!important; color: #191919;}
:host ::ng-deep .ant-table-body .ant-table-tbody tr td.color-gary{   color:#6E6E6E;}
:host ::ng-deep .ant-table-body .ant-table-tbody tr:nth-child(odd) { background: #F0F0F0;}
:host ::ng-deep .ant-table-body .ant-table-tbody tr:nth-child(even) { background: #ffffff;}

/*通用表格列表样式 end*/
