<ecp-flex-tcb [topHeight]="50">
  <ecp-flex-top>
    <ecp-bread-crumb>
      <span>设备管理</span>
      <span>设备统计</span>
    </ecp-bread-crumb>
  </ecp-flex-top>
  <ecp-flex-body>
    <ecp-flex-lcr [leftWidth]="200">
      <ecp-flex-left>
        <ecp-page-left-nav>
          <a>测试一</a><a>测试一</a><a>测试一</a><a>测试一</a><a>测试一</a>
        </ecp-page-left-nav>
      </ecp-flex-left>
      <ecp-flex-body>
        <div style="background: #1E5BD6; height: inherit; overflow-y: scroll;">
          右边是内容
          <div style="background: #4ebcf5;height: 9000px;"></div>
        </div>
      </ecp-flex-body>
    </ecp-flex-lcr>
  </ecp-flex-body>
</ecp-flex-tcb>
