.login-form-moudle {
  display: block;
  width: 330px;
/*  height: 349px;*/
  background: #ffffff;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.3);
  padding: 25px 30px 20px 30px;
  position: absolute;
  top:260px ;
  right: 50px;
  font-family: MicrosoftYaHei;
}

.login-form-moudle .login-title {
  font-size: 24px;
  font-weight:bold;
  color: rgba(30, 30, 30, 1);
  margin-bottom: 10px;
}

.login-form-moudle .login-content {
}

.login-form-moudle .login-content .item {
  margin-bottom: 14px;
}

.login-form-moudle .login-content .item .error-txt {
  width: 270px;
  height: 28px;
  line-height: 28px;
  background: rgba(232, 0, 0, 0.08) url("../../../assets/login/warning.png") 10px center no-repeat;
  text-indent: 30px;
  color: #E80000;
  font-size: 14px;
  font-weight:bold;
}


.login-form-moudle .login-content .item .select {
  width: 270px;
  height: 42px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(204, 204, 204, 1);
  font-size: 16px;
  font-weight: 400;
  text-indent: 8px;
}

.login-form-moudle .login-content .item .input {
  width: 270px;
  height: 42px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(204, 204, 204, 1);
  text-indent: 29px;
  font-size: 16px;
  font-weight: 400;
}
.login-form-moudle .login-content .item .account {
 background: url("../../../assets/login/account.png") 10px center no-repeat;
}
.login-form-moudle .login-content .item .password {
  background: url("../../../assets/login/password.png") 10px center no-repeat;
}

.login-btn {
  width: 270px;
  height: 42px;
  background: rgba(30, 91, 214, 1);
  border: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  letter-spacing: 6px;

}

.login-btn:hover{
  background: #1979ff;
}


@media screen and (max-width: 1024px) {
  .login-form-moudle{ right: 10px!important;}
}
