
#content {
  display: flex;
  width: 100%;
  height: 100%;
}

#left {
  /*width: 200px;*/
  flex: 0 0 200px;
  height: 100%;
  background: darkseagreen;
}

#middle {
  flex: 1;
  background-color: #cccccc;
}

#right {
  /*width: 200px;*/
  flex: 0 0 200px;
  height: 100%;
  background: darkseagreen;
}

