/*
   面包屑 'ecp-select-map-type' v1.0
*/

/*选择地图*/
.select-map { position: absolute;  width: 232px; height: 32px; }
.select-map .content { position: relative; }

.select-map span.icon { position: absolute; right: 0; top: 0; width: 32px; height: 32px; background: rgba(0, 0, 0, 1); opacity: 0.4; text-align: center; padding-top:4px; border-radius: 4px; cursor: pointer; }
.select-map span.icon:hover, .select-map span.icon.hover { background: rgba(0,0,0,1); opacity: 0.6; }
.select-map span.icon i { width: 18px; height: 18px; font-size: 18px; color: #FFFFFF; }

:host >>> .select-map ul.list { position: absolute; right: 38px; top: 0; width: 120px; height: 120px; background: rgba(255, 255, 255, 1); box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.3); opacity: 0.86; padding: 0; }
:host >>> .select-map ul.list li { height: 40px; /*  width: 120px;*/
  line-height: 40px; text-align: left; list-style: none; padding: 0 15px; color: #191919; font-size: 14px; cursor: pointer; overflow: hidden; }
:host >>> .select-map ul.list li:hover { background: #D2DDF2; }
