<div class="select-map" [ngStyle]="customPosition">
  <div class="content">
    <span class="icon" (mouseover)="isShow=true" (mouseleave)="mouseOut()" [ngClass]="{'hover':isShow}"><i
      class="icon dongxiniotwater general_select-map"></i></span>
    <ul class="list" *ngIf="isShow" (mouseover)="cleanTime()" (mouseleave)="isShow=false"
        [@openClose]="isOpen ? 'open' : 'closed'">
      <!--
      <li>百度地图</li>
      <li>高德地图</li>
      <li>谷歌地图</li>
      -->
      <ng-content></ng-content>
    </ul>
  </div>
</div>
