/* You can add global styles to this file, and also import other style files */
@primary-color          : blue;
@import "assets/font-icon/iconfont.css";//图标库一


/* 演示页面通用css */
.page-title{margin-bottom: 50px; padding: 30px; border-bottom: rgba(34,36,38,.15) 1px solid;}
.page-title h1{}
.page-title h3{color: rgba(0,0,0,.6);}
.page-body{ height: 100%;}
.page-body .demo-title{ display: block; padding: 0 30px;}
.page-body .demo-body{display: block;padding: 20px 30px;border: rgba(34,36,38,.15) 1px solid; min-height: 150px; margin-bottom: 20px;}

/* api表格样式*/
.ecp-table{ width: 100%;}
.ecp-table th,.ecp-table td{border: rgba(34,36,38,.15) 1px solid; height: 30px; line-height: 30px; padding: 0 10px; }

/* 演示页面通用css end*/
