/* You can add global styles to this file, and also import other style files */
@primary-color          : blue;
@import "assets/font-icon/style.css";

/*通用表格列表样式*/
.ant-table-body{ border: #D7D7D7 1px solid; border-bottom-width: 0; }
.ant-table-body .ant-table-tbody{ }
.ant-table-body .ant-table-tbody tr:nth-child(odd) { background: #F0F0F0;}
.ant-table-body .ant-table-tbody tr:nth-child(even) { background: #ffffff;}

/*通用表格列表样式 end*/


.page-title{
  margin-bottom: 50px; padding: 30px; border-bottom: rgba(34,36,38,.15) 1px solid;
}
.page-title h1{}
.page-title h3{color: rgba(0,0,0,.6);}
.page-body{ height: 100%;}
.page-body .demo-title{ display: block; padding: 0 30px;}
.page-body .demo-body{display: block;padding: 20px 30px;border: rgba(34,36,38,.15) 1px solid; min-height: 150px; margin-bottom: 20px;}


.ecp-table{ width: 100%;}
.ecp-table th,.ecp-table td{border: rgba(34,36,38,.15) 1px solid; height: 30px; line-height: 30px; padding: 0 10px; }



/**/

/*表格样式2*/
.side-details .side-details-table-style2 { color: #191919; width: 100%; }
.side-details .side-details-table-style2 th, .side-details .side-details-table-style2 td { height: 42px; line-height: 42px; padding: 0 20px;   }
.side-details .side-details-table-style2 th { background: #F0F0F0; }
.side-details .side-details-table-style2 tr:hover td { background: #D2DDF2; }






