<button nz-button nzType="primary" (click)="showModalMiddle()">分区用水量分析</button>
<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisibleMiddle" [nzStyle]="{'top':'0px'}"
          nzTitle="分区用水量分析" nzWidth="800" [nzFooter]="null" (nzOnCancel)="handleCancelMiddle()"
          (nzOnOk)="handleOkMiddle()">
  <nz-table #basicTable [nzData]="dataSet" [nzSize]="'middle'">
    <thead>
    <tr>
      <th>区域名称</th>
      <th>统计时间</th>
      <th>用水量</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data">
      <td width="33.33%">{{data.name}}</td>
      <td width="33.33%">{{data.age}}</td>
      <td width="33.33%">{{data.address}}</td>
    </tr>
    </tbody>
  </nz-table>
</nz-modal>
