<div class="dispatch-content-item-modle">
  <div class="title">工单<a class="btn-add"><i class="icon-edit"></i>修改</a></div>
  <div class="item-content">
    <div class="item-content-title">
      <span class="icon icon-patrol"></span>
      <div class="type-name">营收-报修</div>
      <div class="title-txt">华发新城3栋水表无法上报数据，请协调人员....</div>
      <span class="status blue">处理中</span>
    </div>
    <table class="table-details-style">
      <tbody>
      <tr>
        <th>处理状态：</th>
        <td colspan="3"><span class="color-blue">处理中</span></td>
      </tr>
      <tr>
        <th>工单编号：</th>
        <td width="140">tt1547 拷贝 3</td>
        <th>所属区域：</th>
        <td>78.4587878</td>
      </tr>
      <tr>
        <th>工单来源：</th>
        <td>珠海市南屏科技园</td>
        <th>工单名称：</th>
        <td>东信和平宿舍</td>
      </tr>
      <tr>
        <th>工单描述：</th>
        <td>&nbsp;</td>
        <th>&nbsp;</th>
        <td>&nbsp;</td>
      </tr>
      </tbody>
    </table>
  </div><div class="item-content">
  <div class="item-content-title">
    <span class="icon icon-maintain"></span>
    <div class="type-name">营收-报修</div>
    <div class="title-txt">华发新城3栋水表无法上报数据，请协调人员....</div>
    <span class="status blue">处理中</span>
  </div>
  <table class="table-details-style">
    <tbody>
    <tr>
      <th>处理状态：</th>
      <td colspan="3"><span class="color-blue">处理中</span></td>
    </tr>
    <tr>
      <th>工单编号：</th>
      <td width="140">tt1547 拷贝 3</td>
      <th>所属区域：</th>
      <td>78.4587878</td>
    </tr>
    <tr>
      <th>工单来源：</th>
      <td>珠海市南屏科技园</td>
      <th>工单名称：</th>
      <td>东信和平宿舍</td>
    </tr>
    <tr>
      <th>工单描述：</th>
      <td>&nbsp;</td>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
</div><div class="item-content">
  <div class="item-content-title">
    <span class="icon icon-install"></span>
    <div class="type-name">营收-报修</div>
    <div class="title-txt">华发新城3栋水表无法上报数据，请协调人员....</div>
    <span class="status blue">处理中</span>
  </div>
  <table class="table-details-style">
    <tbody>
    <tr>
      <th>处理状态：</th>
      <td colspan="3"><span class="color-blue">处理中</span></td>
    </tr>
    <tr>
      <th>工单编号：</th>
      <td width="140">tt1547 拷贝 3</td>
      <th>所属区域：</th>
      <td>78.4587878</td>
    </tr>
    <tr>
      <th>工单来源：</th>
      <td>珠海市南屏科技园</td>
      <th>工单名称：</th>
      <td>东信和平宿舍</td>
    </tr>
    <tr>
      <th>工单描述：</th>
      <td>&nbsp;</td>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
</div><div class="item-content">
  <div class="item-content-title">
    <span class="icon icon-patrol"></span>
    <div class="type-name">营收-报修</div>
    <div class="title-txt">华发新城3栋水表无法上报数据，请协调人员....</div>
    <span class="status yellow">挂起</span>
  </div>
  <table class="table-details-style">
    <tbody>
    <tr>
      <th>处理状态：</th>
      <td colspan="3"><span class="color-blue">处理中</span></td>
    </tr>
    <tr>
      <th>工单编号：</th>
      <td width="140">tt1547 拷贝 3</td>
      <th>所属区域：</th>
      <td>78.4587878</td>
    </tr>
    <tr>
      <th>工单来源：</th>
      <td>珠海市南屏科技园</td>
      <th>工单名称：</th>
      <td>东信和平宿舍</td>
    </tr>
    <tr>
      <th>工单描述：</th>
      <td>&nbsp;</td>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
</div><div class="item-content">
  <div class="item-content-title">
    <span class="icon icon-patrol"></span>
    <div class="type-name">营收-报修</div>
    <div class="title-txt">华发新城3栋水表无法上报数据，请协调人员....</div>

  </div>
  <table class="table-details-style">
    <tbody>
    <tr>
      <th>处理状态：</th>
      <td colspan="3"><span class="color-blue">处理中</span></td>
    </tr>
    <tr>
      <th>工单编号：</th>
      <td width="140">tt1547 拷贝 3</td>
      <th>所属区域：</th>
      <td>78.4587878</td>
    </tr>
    <tr>
      <th>工单来源：</th>
      <td>珠海市南屏科技园</td>
      <th>工单名称：</th>
      <td>东信和平宿舍</td>
    </tr>
    <tr>
      <th>工单描述：</th>
      <td>&nbsp;</td>
      <th>&nbsp;</th>
      <td>&nbsp;</td>
    </tr>
    </tbody>
  </table>
</div>
</div>
