<div class="collapse-list">
  <div class="module-item screen-item">
    <div class="module-sub-title" (click)="shrink($event)"><i class="left-pic"></i>传感器(2)<i class="right-pic"></i></div>
    <div class="module-item-content none">
      <table class="collapse-list-table-style2">
        <thead>
        <tr>
          <th width="120">传感器编码</th>
          <th>名称</th>
          <th width="70">定位</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="module-item screen-item">
    <div class="module-sub-title" (click)="shrink($event)"><i class="left-pic"></i>管道(3)<i class="right-pic unfold"></i>
    </div>
    <div class="module-item-content none">
      <table class="collapse-list-table-style2">
        <thead>
        <tr>
          <th width="120">管道编码</th>
          <th>名称</th>
          <th width="70">定位</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="module-item screen-item">
    <div class="module-sub-title" (click)="shrink($event)"><i class="left-pic"></i>节点(2)<i class="right-pic"></i></div>
    <div class="module-item-content none">
      <table class="collapse-list-table-style2">
        <thead>
        <tr>
          <th width="120">节点编码</th>
          <th>名称</th>
          <th width="70">定位</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="module-item screen-item">
    <div class="module-sub-title" (click)="shrink($event)"><i class="left-pic"></i>阀门(2)<i class="right-pic"></i></div>
    <div class="module-item-content none">
      <table class="collapse-list-table-style2">
        <thead>
        <tr>
          <th width="120">阀门编码</th>
          <th>名称</th>
          <th width="70">定位</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        <tr>
          <td>tt1547</td>
          <td>DN15</td>
          <td align="right"><a class="location-icon"></a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
