.ecp-page-body-moudle{
  margin: 20px 30px;
  padding: 0;
/*  border: 1px solid rgba(218, 218, 218, 1);*/
  background: #ffffff;

}
/* 顶部统计信息栏 */
.collect-info{display: flex; justify-content: space-between;}
.collect-info .collect-info-item{  background:rgba(255,255,255,1); width: calc(20% - 16px);border:1px solid rgba(218, 218, 218, 1); height:94px;border-top:#38ACEF 6px solid; position: relative;}
.collect-info .collect-info-item .item-num{position: absolute; left: 28px; top: 32px; color: #191919; font-size:16px;}
.collect-info .collect-info-item .item-num span{ font-size:30px;font-weight:bold; margin-right: 8px;}
.collect-info .collect-info-item .item-txt{position: absolute; left: 28px; top: 10px; font-size:16px; color: #6E6E6E;font-weight:400;}

.collect-info .collect-info-item .item-icon{position: absolute; right: 20px;bottom: 20px; }
.collect-info .collect-info-item:nth-child(1){ border-top:#38ACEF 6px solid;}
.collect-info .collect-info-item:nth-child(2){ border-top:#869499 6px solid;}
.collect-info .collect-info-item:nth-child(3){ border-top:#3C63DF 6px solid;}
.collect-info .collect-info-item:nth-child(4){ border-top:#2E9662 6px solid;}
.collect-info .collect-info-item:nth-child(5){ border-top:#F19149 6px solid;}

.collect-info .collect-info-item:nth-child(1) .item-icon{  width: 32px; height:24px; background: url("../../../assets/console/icon-1.png") no-repeat; }
.collect-info .collect-info-item:nth-child(2) .item-icon{  width: 32px; height:24px;background: url("../../../assets/console/icon-2.png") no-repeat;}
.collect-info .collect-info-item:nth-child(3) .item-icon{ width: 26px; height:30px; background: url("../../../assets/console/icon-3.png") no-repeat;}
.collect-info .collect-info-item:nth-child(4) .item-icon{ width: 32px; height:32px; background: url("../../../assets/console/icon-4.png") no-repeat;}
.collect-info .collect-info-item:nth-child(5) .item-icon{ width: 32px; height:32px; background: url("../../../assets/console/icon-5.png") no-repeat; }
/**/
.charts-throw-row{display: flex; justify-content: space-between; margin-top: 20px;}
.charts-throw-row .item{ width: calc(33.33% - 14px);border:1px solid rgba(218, 218, 218, 1);height:360px;}
.charts-two-columns{display: flex; justify-content: space-between; margin-top: 20px;}
.charts-two-columns .item{width: calc(50% - 10px);border:1px solid rgba(218, 218, 218, 1);height:360px;}
